# Default ignored files
/shelf/
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/Assignment3.iml
/studentskills/src/BUILD/classes/studentskills/
/out/
/studentskills/src/BUILD/jar/studentskills.jar
/input.txt
/modifications.txt
/studentskills/errors_log.txt
/studentskills/tree1_output.txt
/studentskills/tree2_output.txt
/studentskills/tree3_output.txt
/error_log.txt
/tree1_output.txt
/tree2_output.txt
/tree3_output.txt
